@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bg: #061a2a;
  --primary: #65e1e9;
  --secondary: #fd80a6;
  --white: #f8f8f8;
  --lightgrey: #91a2b5;
}
ul { list-style: none; }
a { text-decoration: none; }
body {
  font-family: 'Montserrat', sans-serif;
  background: var(--lightgrey);
  line-height: 1.5;
  color: var(--white);
}